@font-face {
    font-family: 'Bit';
    src: url('/fonts/bit.TTF');
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: #FFF;
    height: 100%;
	overflow: hidden;
	min-width: 570px;
}

#roomWrapper {
	float: left;
	width: 20%;
	min-width: 150px;
	margin: 10px;
}

#gameWrapper {
	height: 100%;
	display: inline-block;
	position: relative;
}
	#game {
		outline: none;
		height: 100%;
	}

	#roomList {
		display: none;
		background-color: black;
		position: absolute;
	}

	#chatInput {
		display: none;
		position: absolute;
		left: 3px;
		bottom: 3px;
	}

p {
	margin: 0px;
}



#chatWrapper {
	display: none;
	margin: 10px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

	#conversation {
		height: 100%;
		overflow: auto;
	}

/*@media only screen and (max-width: 1207px) {
	#chatWrapper {
		width: calc(79% - 440px);
	}
}
@media only screen and (max-width: 1025px) {
	#chatWrapper {
		top: 400px;
		left: 0px;
		width: 98%;
		min-width: 570px;
	}
}
@media only screen and (max-width: 575px) {
	#game {
		float: right;
		padding-left: -20px;
		margin-left: -20px;
	}
}*/