@font-face {
    font-family: 'Bit';
    src: url('/fonts/bit.TTF');
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: #FFF;
    height: 100%;
	min-width: 570px;
	overflow: hidden;
}

h1 {
	font-size: 5.5vh;
	font-family: Bit;
	text-align: center;
	color: grey;
}

h2 {
	font-size: 3.2vh;
	font-family: Bit;
	text-align: center;
	color: grey;
	margin: 2px 0px 2px 0px;
}

#game {
	outline: none;
	height: 100%;
}
#visibleAtPlay {

}
	#roomList {
		background-color: black;
		position: absolute;
	}
	#roomCreator {
		background-color: black;
		position: absolute;
	}
		#roomCreator input, #roomCreator select {
			background-color: grey;
			border-color: black;
			border: 1px solid;
			margin: 0px;
		}




#visibleInRoom {

}
	#return {
		position: absolute;
		top: 0px;
		background: url('../img/return.png') no-repeat;
		background-size: 100%;
	}
	#chatInput {
		position: absolute;
		left: 3px;
		bottom: 3px;
	}
	#chatWrapper {
		margin: 10px;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
	}
		#conversation {
			height: calc(100% - 180px);
			overflow: auto;
		}

p {
	margin: 0px;
}